In [1]:
import pandas as pd
hoursdf=pd.read_csv('time-data/281-time-1-29-2024.tsv', sep='\t')
hoursdf

                   Date TYPE  Unnamed: 2  Unnamed: 3        PIN
0    1/13/2024 18:00:00  Out         NaN         NaN      Eagle
1    1/11/2024 20:04:41  Out         NaN         NaN    phoenix
2     1/20/2024 9:02:17   in         NaN         NaN    phoenix
3    1/18/2024 18:05:30   in         NaN         NaN     J.T.M.
4     1/8/2024 17:49:11   In         NaN         NaN      Ghost
..                  ...  ...         ...         ...        ...
361  1/27/2024 18:02:06  Out         NaN         NaN    phoenix
362  1/27/2024 18:12:24  Out         NaN         NaN   Fire3xit
363  1/27/2024 18:13:31  Out         NaN         NaN  C8H10N4O2
364  1/27/2024 18:13:45  Out         NaN         NaN   Auditore
365  1/27/2024 18:32:25  Out         NaN         NaN      s4dr4

[366 rows x 5 columns]

In [2]:
hoursdf.info()
hoursdf.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        366 non-null    object
 1   TYPE        366 non-null    object
 2   Unnamed: 2  0 non-null      float64
 3   Unnamed: 3  0 non-null      float64
 4   PIN         366 non-null    object
dtypes: float64(2), object(3)
memory usage: 14.4+ KB

                 Date TYPE  Unnamed: 2  Unnamed: 3      PIN
0  1/13/2024 18:00:00  Out         NaN         NaN    Eagle
1  1/11/2024 20:04:41  Out         NaN         NaN  phoenix
2   1/20/2024 9:02:17   in         NaN         NaN  phoenix
3  1/18/2024 18:05:30   in         NaN         NaN   J.T.M.
4   1/8/2024 17:49:11   In         NaN         NaN    Ghost

In [3]:
hoursdf['tstamp'] = pd.to_datetime(hoursdf.Date)
hoursdf['shopdate'] = hoursdf.tstamp.dt.strftime('%m-%d, %a')
hoursdf['shopday'] = hoursdf.tstamp.dt.strftime('%a')

In [4]:
hoursdf

,Date,TYPE,Unnamed: 2,Unnamed: 3,PIN,tstamp,shopdate,shopday
0,1/13/2024 18:00:00,Out,NaN,NaN,Eagle,2024-01-13 18:00:00,"01-13, Sat",Sat
1,1/11/2024 20:04:41,Out,NaN,NaN,phoenix,2024-01-11 20:04:41,"01-11, Thu",Thu
2,1/20/2024 9:02:17,in,NaN,NaN,phoenix,2024-01-20 09:02:17,"01-20, Sat",Sat
3,1/18/2024 18:05:30,in,NaN,NaN,J.T.M.,2024-01-18 18:05:30,"01-18, Thu",Thu
4,1/8/2024 17:49:11,In,NaN,NaN,Ghost,2024-01-08 17:49:11,"01-08, Mon",Mon
...,...,...,...,...,...,...,...,...
361,1/27/2024 18:02:06,Out,NaN,NaN,phoenix,2024-01-27 18:02:06,"01-27, Sat",Sat
362,1/27/2024 18:12:24,Out,NaN,NaN,Fire3xit,2024-01-27 18:12:24,"01-27, Sat",Sat
363,1/27/2024 18:13:31,Out,NaN,NaN,C8H10N4O2,2024-01-27 18:13:31,"01-27, Sat",Sat
364,1/27/2024 18:13:45,Out,NaN,NaN,Auditore,2024-01-27 18:13:45,"01-27, Sat",Sat
365,1/27/2024 18:32:25,Out,NaN,NaN,s4dr4,2024-01-27 18:32:25,"01-27, Sat",Sat

In [5]:
def shop_hours(s):
    seconds_this_day = (s.max() - s.min()).seconds/60
    minutes_this_day = seconds_this_day / 60
    if minutes_this_day == 0:
        minutes_this_day = 1.0
    return minutes_this_day
attendance = hoursdf.groupby(['PIN','shopdate']).agg( shop_hours=('tstamp',shop_hours))
attendance.reset_index()

       PIN    shopdate  shop_hours
0     0016  01-08, Mon    2.031111
1     0016  01-10, Wed    1.995000
2     0016  01-11, Thu    2.026111
3     0016  01-13, Sat    5.175000
4     0016  01-20, Sat    4.718333
..     ...         ...         ...
179  s4dr4  01-20, Sat    4.443611
180  s4dr4  01-22, Mon    2.025833
181  s4dr4  01-24, Wed    1.970556
182  s4dr4  01-25, Thu    1.899167
183  s4dr4  01-27, Sat    9.003056

[184 rows x 3 columns]

In [6]:
timesheet = attendance.pivot_table(index='PIN',columns='shopdate',values='shop_hours',fill_value=0,aggfunc='sum')
timesheet

shopdate,"01-08, Mon","01-10, Wed","01-11, Thu","01-13, Sat","01-15, Mon","01-17, Wed","01-18, Thu","01-20, Sat","01-22, Mon","01-24, Wed","01-25, Thu","01-27, Sat"
PIN,,,,,,,,,,,,
0016,2.031111,1.995000,2.026111,5.175000,0.000000,0.000000,0.000000,4.718333,2.170278,0.000000,1.527222,5.843056
0120,2.098889,0.000000,0.000000,3.187500,3.848889,2.153611,2.040000,4.373333,0.000000,2.108056,0.000000,0.000000
0305009,2.095000,0.000000,0.000000,7.808889,0.000000,0.000000,0.000000,6.757222,0.000000,0.000000,0.000000,6.819722
10Pulisic,1.537778,2.200833,2.078333,7.215556,5.630000,2.353611,2.089444,8.386667,1.611111,2.214444,1.958889,6.171389
1116,2.245000,1.481944,0.970000,5.465833,5.759167,2.156944,1.910833,8.238333,2.065556,0.000000,2.096111,5.503056
2314033333,2.017500,1.000000,0.000000,8.721389,3.476667,1.000000,0.000000,8.738611,1.000000,1.855833,0.000000,0.000000
Acrux,2.123056,0.000000,1.000000,4.128056,4.012500,0.000000,2.083333,3.585556,2.236667,0.000000,0.000000,5.537500
AdidaBoss,2.051667,0.000000,2.032500,3.205278,4.192778,2.253333,1.962222,2.039722,2.084722,1.815833,2.001944,0.000000
Auditore,2.273889,1.510556,2.074722,8.851111,3.245556,2.657222,2.039167,7.852778,2.117500,0.000000,1.994444,9.201667
BigTurtle,1.883056,1.835000,1.959444,0.000000,2.044167,2.065278,0.000000,0.000000,2.458889,1.930833,0.000000,0.000000
C8H10N4O2,2.129722,0.000000,0.000000,7.963056,3.542222,0.000000,0.000000,7.985556,2.126667,0.000000,0.000000,7.775833
Cade55,1.946111,2.179722,0.000000,7.330833,2.962500,2.118056,0.000000,4.605278,2.033889,0.000000,2.207222,7.208611
Eagle,2.103333,1.984722,0.788889,8.216111,6.555278,0.000000,0.735833,1.796667,1.000000,1.929167,0.000000,0.000000
Fire3xit,2.160833,0.000000,1.997778,8.952222,5.929444,0.000000,2.104444,8.943333,2.208056,0.000000,2.122500,9.167500
Ghost,2.369167,2.486667,2.733611,8.750556,6.031667,2.875278,2.578611,1.699167,2.912222,3.276389,2.974444,0.000000
J.T.M.,1.955000,0.995833,0.000000,0.000000,5.730000,2.180000,2.000000,6.490000,1.654444,2.107500,1.949167,7.671111
JeffBagels,1.944722,0.000000,2.380833,0.000000,4.332778,0.000000,0.000000,2.662778,2.613333,0.000000,0.000000,6.054167
Prani2K,1.000000,1.000000,0.000000,6.543333,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
S0134,1.898333,0.000000,0.000000,0.000000,3.732500,0.000000,1.397778,0.000000,1.863056,1.550278,0.000000,0.000000
YoungFlake,2.032500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
fonderpole,2.056944,1.000000,0.000000,2.628333,0.000000,0.000000,0.000000,0.000000,1.000000,1.077222,0.000000,0.000000
phoenix,2.027778,1.820000,1.968056,9.009722,5.112500,1.000000,0.000000,9.000000,2.787500,2.080556,1.667222,6.890556
s4dr4,1.047778,1.814444,1.646389,5.605556,5.919167,2.152778,1.460000,4.443611,2.025833,1.970556,1.899167,9.003056

In [7]:
timesheet.loc['AVAILABLE'] = [2,2,2,9,2,2,2,9,2,2,2,9]
total_available_hours = timesheet.loc['AVAILABLE'].sum()
timesheet['student_total'] = timesheet.sum(axis=1)


#shop_available_hours = pd.DataFrame({ 
#    "date": [ "01/08", "01/10", "01/11", "01/13" ],
#    "hours": [ 2, 2, 2, 9]
#})

timesheet['student_percent'] = timesheet['student_total'] / total_available_hours
timesheet['student_percent_nice'] = timesheet['student_percent'].map('{:.2%}'.format)
timesheet.drop(columns='student_percent')

timesheet

shopdate,"01-08, Mon","01-10, Wed","01-11, Thu","01-13, Sat","01-15, Mon","01-17, Wed","01-18, Thu","01-20, Sat","01-22, Mon","01-24, Wed","01-25, Thu","01-27, Sat",student_total,student_percent,student_percent_nice
PIN,,,,,,,,,,,,,,,
0016,2.031111,1.995000,2.026111,5.175000,0.000000,0.000000,0.000000,4.718333,2.170278,0.000000,1.527222,5.843056,25.486111,0.566358,56.64%
0120,2.098889,0.000000,0.000000,3.187500,3.848889,2.153611,2.040000,4.373333,0.000000,2.108056,0.000000,0.000000,19.810278,0.440228,44.02%
0305009,2.095000,0.000000,0.000000,7.808889,0.000000,0.000000,0.000000,6.757222,0.000000,0.000000,0.000000,6.819722,23.480833,0.521796,52.18%
10Pulisic,1.537778,2.200833,2.078333,7.215556,5.630000,2.353611,2.089444,8.386667,1.611111,2.214444,1.958889,6.171389,43.448056,0.965512,96.55%
1116,2.245000,1.481944,0.970000,5.465833,5.759167,2.156944,1.910833,8.238333,2.065556,0.000000,2.096111,5.503056,37.892778,0.842062,84.21%
2314033333,2.017500,1.000000,0.000000,8.721389,3.476667,1.000000,0.000000,8.738611,1.000000,1.855833,0.000000,0.000000,27.810000,0.618000,61.80%
Acrux,2.123056,0.000000,1.000000,4.128056,4.012500,0.000000,2.083333,3.585556,2.236667,0.000000,0.000000,5.537500,24.706667,0.549037,54.90%
AdidaBoss,2.051667,0.000000,2.032500,3.205278,4.192778,2.253333,1.962222,2.039722,2.084722,1.815833,2.001944,0.000000,23.640000,0.525333,52.53%
Auditore,2.273889,1.510556,2.074722,8.851111,3.245556,2.657222,2.039167,7.852778,2.117500,0.000000,1.994444,9.201667,43.818611,0.973747,97.37%
BigTurtle,1.883056,1.835000,1.959444,0.000000,2.044167,2.065278,0.000000,0.000000,2.458889,1.930833,0.000000,0.000000,14.176667,0.315037,31.50%
C8H10N4O2,2.129722,0.000000,0.000000,7.963056,3.542222,0.000000,0.000000,7.985556,2.126667,0.000000,0.000000,7.775833,31.523056,0.700512,70.05%
Cade55,1.946111,2.179722,0.000000,7.330833,2.962500,2.118056,0.000000,4.605278,2.033889,0.000000,2.207222,7.208611,32.592222,0.724272,72.43%
Eagle,2.103333,1.984722,0.788889,8.216111,6.555278,0.000000,0.735833,1.796667,1.000000,1.929167,0.000000,0.000000,25.110000,0.558000,55.80%
Fire3xit,2.160833,0.000000,1.997778,8.952222,5.929444,0.000000,2.104444,8.943333,2.208056,0.000000,2.122500,9.167500,43.586111,0.968580,96.86%
Ghost,2.369167,2.486667,2.733611,8.750556,6.031667,2.875278,2.578611,1.699167,2.912222,3.276389,2.974444,0.000000,38.687778,0.859728,85.97%
J.T.M.,1.955000,0.995833,0.000000,0.000000,5.730000,2.180000,2.000000,6.490000,1.654444,2.107500,1.949167,7.671111,32.733056,0.727401,72.74%
JeffBagels,1.944722,0.000000,2.380833,0.000000,4.332778,0.000000,0.000000,2.662778,2.613333,0.000000,0.000000,6.054167,19.988611,0.444191,44.42%
Prani2K,1.000000,1.000000,0.000000,6.543333,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,9.543333,0.212074,21.21%
S0134,1.898333,0.000000,0.000000,0.000000,3.732500,0.000000,1.397778,0.000000,1.863056,1.550278,0.000000,0.000000,10.441944,0.232043,23.20%
YoungFlake,2.032500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.032500,0.045167,4.52%
fonderpole,2.056944,1.000000,0.000000,2.628333,0.000000,0.000000,0.000000,0.000000,1.000000,1.077222,0.000000,0.000000,7.762500,0.172500,17.25%
phoenix,2.027778,1.820000,1.968056,9.009722,5.112500,1.000000,0.000000,9.000000,2.787500,2.080556,1.667222,6.890556,43.363889,0.963642,96.36%
s4dr4,1.047778,1.814444,1.646389,5.605556,5.919167,2.152778,1.460000,4.443611,2.025833,1.970556,1.899167,9.003056,38.988333,0.866407,86.64%
AVAILABLE,2.000000,2.000000,2.000000,9.000000,2.000000,2.000000,2.000000,9.000000,2.000000,2.000000,2.000000,9.000000,45.000000,1.000000,100.00%

In [8]:
timesheet=timesheet.sort_values(by=['student_total'],ascending=False)

In [9]:
def color_code(val):
    
    if val == 1.0:
        return "background-color: yellow;color:black;opacity:40%"
    elif val == 0:
        return "background-color: red;color:white;opacity:40%"
    else:
        return 'color: green;font-weight:bold'
timesheet.style.format(precision=3).map(color_code)
#timesheet.style.background_gradient(cmap="Blues")
#timesheet.style.highlight_max()