In [1]:
import pandas as pd
hoursdf=pd.read_csv('281-time-1-22-2024.csv', sep='\t')
hoursdf

                   Date TYPE  Unnamed: 2  Unnamed: 3        PIN
0    1/13/2024 18:00:00  Out         NaN         NaN      Eagle
1    1/11/2024 20:04:41  Out         NaN         NaN    phoenix
2     1/20/2024 9:02:17   in         NaN         NaN    phoenix
3    1/18/2024 18:05:30   in         NaN         NaN     J.T.M.
4     1/8/2024 17:49:11   In         NaN         NaN      Ghost
..                  ...  ...         ...         ...        ...
250  1/20/2024 18:00:55  Out         NaN         NaN  10Pulisic
251  1/20/2024 18:02:17  Out         NaN         NaN    phoenix
252  1/20/2024 18:02:26  Out         NaN         NaN     J.T.M.
253  1/20/2024 18:03:22  Out         NaN         NaN      Ghost
254  1/20/2024 18:09:48  Out         NaN         NaN       0016

[255 rows x 5 columns]

In [2]:
hoursdf.info()
hoursdf.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        255 non-null    object
 1   TYPE        255 non-null    object
 2   Unnamed: 2  0 non-null      float64
 3   Unnamed: 3  0 non-null      float64
 4   PIN         255 non-null    object
dtypes: float64(2), object(3)
memory usage: 10.1+ KB

                 Date TYPE  Unnamed: 2  Unnamed: 3      PIN
0  1/13/2024 18:00:00  Out         NaN         NaN    Eagle
1  1/11/2024 20:04:41  Out         NaN         NaN  phoenix
2   1/20/2024 9:02:17   in         NaN         NaN  phoenix
3  1/18/2024 18:05:30   in         NaN         NaN   J.T.M.
4   1/8/2024 17:49:11   In         NaN         NaN    Ghost

In [3]:
hoursdf['tstamp'] = pd.to_datetime(hoursdf.Date)
hoursdf['shopdate'] = hoursdf.tstamp.dt.strftime('%m-%d, %a')
hoursdf['shopday'] = hoursdf.tstamp.dt.strftime('%a')

In [4]:
hoursdf

,Date,TYPE,Unnamed: 2,Unnamed: 3,PIN,tstamp,shopdate,shopday
0,1/13/2024 18:00:00,Out,NaN,NaN,Eagle,2024-01-13 18:00:00,"01-13, Sat",Sat
1,1/11/2024 20:04:41,Out,NaN,NaN,phoenix,2024-01-11 20:04:41,"01-11, Thu",Thu
2,1/20/2024 9:02:17,in,NaN,NaN,phoenix,2024-01-20 09:02:17,"01-20, Sat",Sat
3,1/18/2024 18:05:30,in,NaN,NaN,J.T.M.,2024-01-18 18:05:30,"01-18, Thu",Thu
4,1/8/2024 17:49:11,In,NaN,NaN,Ghost,2024-01-08 17:49:11,"01-08, Mon",Mon
...,...,...,...,...,...,...,...,...
250,1/20/2024 18:00:55,Out,NaN,NaN,10Pulisic,2024-01-20 18:00:55,"01-20, Sat",Sat
251,1/20/2024 18:02:17,Out,NaN,NaN,phoenix,2024-01-20 18:02:17,"01-20, Sat",Sat
252,1/20/2024 18:02:26,Out,NaN,NaN,J.T.M.,2024-01-20 18:02:26,"01-20, Sat",Sat
253,1/20/2024 18:03:22,Out,NaN,NaN,Ghost,2024-01-20 18:03:22,"01-20, Sat",Sat
254,1/20/2024 18:09:48,Out,NaN,NaN,0016,2024-01-20 18:09:48,"01-20, Sat",Sat

In [5]:
def shop_hours(s):
    seconds_this_day = (s.max() - s.min()).seconds/60
    minutes_this_day = seconds_this_day / 60
    if minutes_this_day == 0:
        minutes_this_day = 1.0
    return minutes_this_day
attendance = hoursdf.groupby(['PIN','shopdate']).agg( shop_hours=('tstamp',shop_hours))
attendance.reset_index()

       PIN    shopdate  shop_hours
0     0016  01-08, Mon    2.031111
1     0016  01-10, Wed    1.995000
2     0016  01-11, Thu    2.026111
3     0016  01-13, Sat    5.175000
4     0016  01-20, Sat    4.718333
..     ...         ...         ...
123  s4dr4  01-13, Sat    5.605556
124  s4dr4  01-15, Mon    5.919167
125  s4dr4  01-17, Wed    2.152778
126  s4dr4  01-18, Thu    1.460000
127  s4dr4  01-20, Sat    4.443611

[128 rows x 3 columns]

In [6]:
timesheet = attendance.pivot_table(index='PIN',columns='shopdate',values='shop_hours',fill_value=0,aggfunc='sum')
timesheet

shopdate,"01-08, Mon","01-10, Wed","01-11, Thu","01-13, Sat","01-15, Mon","01-17, Wed","01-18, Thu","01-20, Sat"
PIN,,,,,,,,
0016,2.031111,1.995000,2.026111,5.175000,0.000000,0.000000,0.000000,4.718333
0120,2.098889,0.000000,0.000000,3.187500,3.848889,2.153611,2.040000,4.373333
0305009,2.095000,0.000000,0.000000,7.808889,0.000000,0.000000,0.000000,6.757222
10Pulisic,1.537778,2.200833,2.078333,7.215556,5.630000,2.353611,2.089444,8.386667
1116,2.245000,1.481944,0.970000,5.465833,5.759167,2.156944,1.910833,8.238333
2314033333,2.017500,1.000000,0.000000,8.721389,3.476667,1.000000,0.000000,8.738611
Acrux,2.123056,0.000000,1.000000,4.128056,4.012500,0.000000,2.083333,3.585556
AdidaBoss,2.051667,0.000000,2.032500,3.205278,4.192778,2.253333,1.962222,2.039722
Auditore,2.273889,1.510556,2.074722,8.851111,3.245556,2.657222,2.039167,7.852778
BigTurtle,1.883056,1.835000,1.959444,0.000000,2.044167,2.065278,0.000000,0.000000
C8H10N4O2,2.129722,0.000000,0.000000,7.963056,3.542222,0.000000,0.000000,7.985556
Cade55,1.946111,2.179722,0.000000,7.330833,2.962500,2.118056,0.000000,4.605278
Eagle,2.103333,1.984722,0.788889,8.216111,6.555278,0.000000,0.735833,1.796667
Fire3xit,2.160833,0.000000,1.997778,8.952222,5.929444,0.000000,2.104444,8.943333
Ghost,2.369167,2.486667,2.733611,8.750556,6.031667,2.875278,2.578611,1.699167
J.T.M.,1.955000,0.995833,0.000000,0.000000,5.730000,2.180000,2.000000,6.490000
JeffBagels,1.944722,0.000000,2.380833,0.000000,4.332778,0.000000,0.000000,2.662778
Prani2K,1.000000,1.000000,0.000000,6.543333,0.000000,0.000000,0.000000,0.000000
S0134,1.898333,0.000000,0.000000,0.000000,3.732500,0.000000,1.397778,0.000000
YoungFlake,2.032500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
fonderpole,2.056944,1.000000,0.000000,2.628333,0.000000,0.000000,0.000000,0.000000
phoenix,2.027778,1.820000,1.968056,9.009722,5.112500,1.000000,0.000000,9.000000
s4dr4,1.047778,1.814444,1.646389,5.605556,5.919167,2.152778,1.460000,4.443611

In [7]:
timesheet.loc['AVAILABLE'] = [2,2,2,9,2,2,2,9]
total_available_hours = timesheet.loc['AVAILABLE'].sum()
timesheet['student_total'] = timesheet.sum(axis=1)


#shop_available_hours = pd.DataFrame({ 
#    "date": [ "01/08", "01/10", "01/11", "01/13" ],
#    "hours": [ 2, 2, 2, 9]
#})

timesheet['student_percent'] = timesheet['student_total'] / total_available_hours
timesheet['student_percent_nice'] = timesheet['student_percent'].map('{:.2%}'.format)
timesheet.drop(columns='student_percent')

timesheet

shopdate,"01-08, Mon","01-10, Wed","01-11, Thu","01-13, Sat","01-15, Mon","01-17, Wed","01-18, Thu","01-20, Sat",student_total,student_percent,student_percent_nice
PIN,,,,,,,,,,,
0016,2.031111,1.995000,2.026111,5.175000,0.000000,0.000000,0.000000,4.718333,15.945556,0.531519,53.15%
0120,2.098889,0.000000,0.000000,3.187500,3.848889,2.153611,2.040000,4.373333,17.702222,0.590074,59.01%
0305009,2.095000,0.000000,0.000000,7.808889,0.000000,0.000000,0.000000,6.757222,16.661111,0.555370,55.54%
10Pulisic,1.537778,2.200833,2.078333,7.215556,5.630000,2.353611,2.089444,8.386667,31.492222,1.049741,104.97%
1116,2.245000,1.481944,0.970000,5.465833,5.759167,2.156944,1.910833,8.238333,28.228056,0.940935,94.09%
2314033333,2.017500,1.000000,0.000000,8.721389,3.476667,1.000000,0.000000,8.738611,24.954167,0.831806,83.18%
Acrux,2.123056,0.000000,1.000000,4.128056,4.012500,0.000000,2.083333,3.585556,16.932500,0.564417,56.44%
AdidaBoss,2.051667,0.000000,2.032500,3.205278,4.192778,2.253333,1.962222,2.039722,17.737500,0.591250,59.13%
Auditore,2.273889,1.510556,2.074722,8.851111,3.245556,2.657222,2.039167,7.852778,30.505000,1.016833,101.68%
BigTurtle,1.883056,1.835000,1.959444,0.000000,2.044167,2.065278,0.000000,0.000000,9.786944,0.326231,32.62%
C8H10N4O2,2.129722,0.000000,0.000000,7.963056,3.542222,0.000000,0.000000,7.985556,21.620556,0.720685,72.07%
Cade55,1.946111,2.179722,0.000000,7.330833,2.962500,2.118056,0.000000,4.605278,21.142500,0.704750,70.47%
Eagle,2.103333,1.984722,0.788889,8.216111,6.555278,0.000000,0.735833,1.796667,22.180833,0.739361,73.94%
Fire3xit,2.160833,0.000000,1.997778,8.952222,5.929444,0.000000,2.104444,8.943333,30.088056,1.002935,100.29%
Ghost,2.369167,2.486667,2.733611,8.750556,6.031667,2.875278,2.578611,1.699167,29.524722,0.984157,98.42%
J.T.M.,1.955000,0.995833,0.000000,0.000000,5.730000,2.180000,2.000000,6.490000,19.350833,0.645028,64.50%
JeffBagels,1.944722,0.000000,2.380833,0.000000,4.332778,0.000000,0.000000,2.662778,11.321111,0.377370,37.74%
Prani2K,1.000000,1.000000,0.000000,6.543333,0.000000,0.000000,0.000000,0.000000,8.543333,0.284778,28.48%
S0134,1.898333,0.000000,0.000000,0.000000,3.732500,0.000000,1.397778,0.000000,7.028611,0.234287,23.43%
YoungFlake,2.032500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.032500,0.067750,6.78%
fonderpole,2.056944,1.000000,0.000000,2.628333,0.000000,0.000000,0.000000,0.000000,5.685278,0.189509,18.95%
phoenix,2.027778,1.820000,1.968056,9.009722,5.112500,1.000000,0.000000,9.000000,29.938056,0.997935,99.79%
s4dr4,1.047778,1.814444,1.646389,5.605556,5.919167,2.152778,1.460000,4.443611,24.089722,0.802991,80.30%
AVAILABLE,2.000000,2.000000,2.000000,9.000000,2.000000,2.000000,2.000000,9.000000,30.000000,1.000000,100.00%

In [8]:
timesheet=timesheet.sort_values(by=['student_total'],ascending=False)

In [9]:
def color_code(val):
    
    if val == 1.0:
        return "background-color: yellow;color:black;opacity:40%"
    elif val == 0:
        return "background-color: red;color:white;opacity:40%"
    else:
        return 'color: green;font-weight:bold'
timesheet.style.format(precision=3).map(color_code)
#timesheet.style.background_gradient(cmap="Blues")
#timesheet.style.highlight_max()