In [1]:
import pandas as pd
from pandasql import sqldf
pd.set_option('display.max_columns', None)
hoursdf=pd.read_csv('time-data/281-time-2-25-2024.tsv', sep='\t',skipinitialspace=True)
hoursdf
hoursdf["PIN"] = hoursdf["PIN"].astype("string")
student_pins=pd.read_csv('time-data/student_pins.tsv', sep='\t',skipinitialspace=True)
student_pins["PIN"] = student_pins["PIN"].astype("string")
student_pins
pysqldf = lambda q: sqldf(q, globals())
hoursdf = pysqldf("select hoursdf.*,student_pins.email, student_pins.name from hoursdf, student_pins where hoursdf.PIN = student_pins.PIN")

#hoursdf
#student_pins.dtypes
#hoursdf.dtypes
#hours_df2=hoursdf.join(student_pins,how="left",on=['PIN'],lsuffix="_left",rsuffix="_right")
#hours_df2

In [2]:
hoursdf.info()
hoursdf.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        864 non-null    object
 1   TYPE        864 non-null    object
 2   Unnamed: 2  0 non-null      object
 3   Unnamed: 3  0 non-null      object
 4   PIN         864 non-null    object
 5   email       864 non-null    object
 6   name        864 non-null    object
dtypes: object(7)
memory usage: 47.4+ KB

,Date,TYPE,Unnamed: 2,Unnamed: 3,PIN,email,name
0,1/13/2024 18:00:00,Out,None,None,Eagle,maximilian.geissler0@gmail.com,Maximilian Geissler
1,1/11/2024 20:04:41,Out,None,None,phoenix,anheitkamp.2023@gmail.com,Andrew Heitkamp
2,1/20/2024 9:02:17,in,None,None,phoenix,anheitkamp.2023@gmail.com,Andrew Heitkamp
3,1/18/2024 18:05:30,in,None,None,J.T.M.,jtmolfenter07@gmail.com,John Molfenter
4,1/8/2024 17:49:11,In,None,None,Ghost,hayley@nobudgetracing.com,Hayley Morton

In [3]:
hoursdf['tstamp'] = pd.to_datetime(hoursdf.Date)
hoursdf['shopdate'] = hoursdf.tstamp.dt.strftime('%m-%d, %a')
hoursdf['shopday'] = hoursdf.tstamp.dt.strftime('%a')

In [4]:
hoursdf

,Date,TYPE,Unnamed: 2,Unnamed: 3,PIN,email,name,tstamp,shopdate,shopday
0,1/13/2024 18:00:00,Out,None,None,Eagle,maximilian.geissler0@gmail.com,Maximilian Geissler,2024-01-13 18:00:00,"01-13, Sat",Sat
1,1/11/2024 20:04:41,Out,None,None,phoenix,anheitkamp.2023@gmail.com,Andrew Heitkamp,2024-01-11 20:04:41,"01-11, Thu",Thu
2,1/20/2024 9:02:17,in,None,None,phoenix,anheitkamp.2023@gmail.com,Andrew Heitkamp,2024-01-20 09:02:17,"01-20, Sat",Sat
3,1/18/2024 18:05:30,in,None,None,J.T.M.,jtmolfenter07@gmail.com,John Molfenter,2024-01-18 18:05:30,"01-18, Thu",Thu
4,1/8/2024 17:49:11,In,None,None,Ghost,hayley@nobudgetracing.com,Hayley Morton,2024-01-08 17:49:11,"01-08, Mon",Mon
...,...,...,...,...,...,...,...,...,...,...
859,2/24/2024 21:32:17,Out,None,None,JeffBagels,mmakhtoub1@gmail.com,Marwan Makhtoub,2024-02-24 21:32:17,"02-24, Sat",Sat
860,2/24/2024 22:27:23,Out,None,None,0120,AnaReyesRayos@gmail.com,Ana Reyes Rayos,2024-02-24 22:27:23,"02-24, Sat",Sat
861,2/24/2024 22:27:49,Out,None,None,1116,dhanyagan2009@gmail.com,dhanya Rajagopalan,2024-02-24 22:27:49,"02-24, Sat",Sat
862,2/24/2024 22:34:39,Out,None,None,JeffBagels,mmakhtoub1@gmail.com,Marwan Makhtoub,2024-02-24 22:34:39,"02-24, Sat",Sat
863,2/24/2024 22:56:26,Out,None,None,Ghost,hayley@nobudgetracing.com,Hayley Morton,2024-02-24 22:56:26,"02-24, Sat",Sat

In [5]:
def shop_hours(s):
    seconds_this_day = (s.max() - s.min()).seconds/60
    minutes_this_day = seconds_this_day / 60
    if minutes_this_day == 0:
        minutes_this_day = 1.0
    return minutes_this_day
attendance = hoursdf.groupby(['name','shopdate']).agg( shop_hours=('tstamp',shop_hours))
attendance.reset_index()

                   name    shopdate  shop_hours
0      Aditya Harikumar  01-08, Mon    2.051667
1      Aditya Harikumar  01-11, Thu    2.032500
2      Aditya Harikumar  01-13, Sat    3.205278
3      Aditya Harikumar  01-15, Mon    4.192778
4      Aditya Harikumar  01-17, Wed    2.253333
..                  ...         ...         ...
428  dhanya Rajagopalan  02-15, Thu    2.028889
429  dhanya Rajagopalan  02-17, Sat   12.757500
430  dhanya Rajagopalan  02-21, Wed    1.547778
431  dhanya Rajagopalan  02-22, Thu    1.595556
432  dhanya Rajagopalan  02-24, Sat   12.815000

[433 rows x 3 columns]

In [6]:
timesheet = attendance.pivot_table(index='name',columns='shopdate',values='shop_hours',fill_value=0,aggfunc='sum')
timesheet

shopdate,"01-08, Mon","01-10, Wed","01-11, Thu","01-13, Sat","01-15, Mon","01-17, Wed","01-18, Thu","01-20, Sat","01-22, Mon","01-24, Wed","01-25, Thu","01-27, Sat","01-29, Mon","01-31, Wed","02-01, Thu","02-03, Sat","02-04, Sun","02-05, Mon","02-07, Wed","02-08, Thu","02-10, Sat","02-12, Mon","02-13, Tue","02-14, Wed","02-15, Thu","02-17, Sat","02-18, Sun","02-19, Mon","02-20, Tue","02-21, Wed","02-22, Thu","02-24, Sat"
name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Aditya Harikumar,2.051667,0.000000,2.032500,3.205278,4.192778,2.253333,1.962222,2.039722,2.084722,1.815833,2.001944,0.000000,2.371944,1.951111,0.000000,4.715556,0.000000,1.397222,2.146111,1.512222,2.606667,2.056389,2.372222,1.483056,1.750000,0.000000,0.000000,2.191389,0.000000,0.000000,0.000000,0.000000
Albert Mathisz,1.883056,1.835000,1.959444,0.000000,2.044167,2.065278,0.000000,0.000000,2.458889,1.930833,0.000000,0.000000,2.142500,1.876389,0.000000,3.819167,0.000000,1.000000,0.000000,0.000000,0.000000,1.915278,0.000000,1.988611,0.000000,3.138056,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Ana Reyes Rayos,2.098889,0.000000,0.000000,3.187500,3.848889,2.153611,2.040000,4.373333,0.000000,2.108056,0.000000,0.000000,0.000000,1.945000,1.790000,6.756944,0.000000,2.177500,2.180278,1.985000,6.126944,2.166111,1.959167,2.016667,2.190278,12.717500,4.633611,2.196389,1.947222,0.000000,0.000000,13.230556
Andrew Heitkamp,2.027778,1.820000,1.968056,9.009722,5.112500,1.000000,0.000000,9.000000,2.787500,2.080556,1.667222,6.890556,1.000000,1.908056,1.000000,8.511667,0.000000,0.000000,2.230000,1.697222,9.199444,2.308889,0.000000,1.753889,2.229167,1.000000,0.000000,1.000000,0.000000,5.390556,1.859167,11.922222
Antony Manavalan,1.537778,2.200833,2.078333,7.215556,5.630000,2.353611,2.089444,8.386667,1.611111,2.214444,1.958889,6.171389,0.000000,0.000000,2.289167,0.000000,0.000000,2.459167,2.201667,0.648889,4.990278,2.134722,0.000000,0.000000,2.318056,0.000000,0.000000,2.104722,0.000000,0.000000,2.614167,9.557222
Ayush Ghosh,1.946111,2.179722,0.000000,7.330833,2.962500,2.118056,0.000000,4.605278,2.033889,0.000000,2.207222,7.208611,0.000000,0.000000,2.125833,8.168056,0.000000,0.000000,2.243333,1.962500,4.868889,2.197222,0.000000,1.900556,0.000000,10.273333,0.000000,2.251944,0.000000,2.053889,0.000000,3.771667
Benjamin Cowden,2.273889,1.510556,2.074722,8.851111,3.245556,2.657222,2.039167,7.852778,2.117500,0.000000,1.994444,9.201667,2.295000,1.043056,2.555833,7.939167,0.572222,2.108611,0.000000,2.225556,7.324722,1.000000,1.672500,0.000000,2.427778,10.166111,0.000000,2.189722,1.818611,2.006667,2.225556,9.325833
Benjamin Jones,2.160833,0.000000,1.997778,8.952222,5.929444,0.000000,2.104444,8.943333,2.208056,0.000000,2.122500,9.167500,2.271111,0.000000,2.084444,8.950278,0.000000,0.000000,0.000000,2.084444,9.101111,2.088611,2.220000,0.000000,0.000000,0.000000,0.000000,2.114444,0.000000,0.000000,2.296111,7.970278
Eric Shi,2.017500,1.000000,0.000000,8.721389,3.476667,1.000000,0.000000,8.738611,1.000000,1.855833,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,8.828889,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
Hayley Morton,2.369167,2.486667,2.733611,8.750556,6.031667,5.308611,2.578611,1.699167,2.912222,3.276389,2.974444,0.000000,3.268889,4.313056,3.334722,1.933889,0.000000,9.364722,3.206111,3.155833,6.230556,3.250556,3.331944,3.139444,3.328889,6.840833,5.321944,2.368056,3.611944,3.003056,3.527222,13.959167
Isaac Boroughs,2.123056,0.000000,1.000000,4.128056,4.012500,0.000000,2.083333,3.585556,2.236667,0.000000,0.000000,5.537500,1.703611,0.000000,1.962500,4.582500,0.000000,0.000000,0.000000,1.876667,4.373889,0.000000,0.000000,0.000000,1.985556,1.000000,0.000000,0.000000,0.000000,2.055278,0.000000,4.269444
John Molfenter,1.955000,0.995833,0.000000,0.000000,5.730000,2.180000,2.000000,6.490000,1.654444,2.107500,1.949167,7.671111,1.997222,2.240278,2.379722,7.086111,0.000000,2.106389,2.034167,2.142222,6.130278,0.000000,0.000000,2.246667,2.382222,11.623889,0.000000,2.318056,0.000000,2.145278,2.608889,11.304167
Joshua Spurck,2.032500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Marwan Makhtoub,1.944722,0.000000,2.380833,0.000000,4.332778,0.000000,0.000000,2.662778,2.613333,0.000000,0.000000,6.054167,2.236667,0.000000,1.471389,4.708056,0.000000,0.000000,1.000000,2.113333,5.409722,0.000000,0.000000,2.129444,2.109167,9.313056,0.000000,2.474444,0.000000,0.000000,2.180278,12.648611
Maximilian Geissler,2.103333,1.984722,0.788889,8.216111,6.555278,0.000000,0.735833,1.796667,1.000000,1.929167,0.000000,0.000000,2.081111,1.970278,0.952222,6.392222,0.000000,1.872500,2.048611,0.617500,1.410556,1.996111,1.024722,1.725556,0.000000,1.678889,1.000000,1.000000,0.000000,1.523056,0.494167,0.000000
Nathan Wicker,2.056944,1.000000,0.000000,2.628333,0.000000,0.000000,0.000000,0.000000,1.000000,1.077222,0.000000,0.000000,1.000000,0.000000,0.000000,2.745278,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,3.990278,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Pranav Kata,1.000000,1.000000,0.000000,6.543333,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Sadra Saharkhiz,1.047778,1.814444,1.646389,5.605556,5.919167,2.152778,1.460000,4.443611,2.025833,1.970556,1.899167,9.003056,1.779167,0.000000,3.003333,8.465833,0.000000,1.962500,2.101111,1.933611,6.463056,1.961389,0.000000,1.000000,1.971667,4.450000,1.309167,0.000000,1.672500,2.036667,0.000000,0.000000
Sanjith kalluri,1.898333,0.000000,0.000000,0.000000,3.732500,0.000000,1.397778,0.000000,1.863056,1.550278,0.000000,0.000000,2.055556,1.000000,1.808611,0.000000,0.000000,1.960000,0.000000,1.762500,10.611667,2.063056,0.000000,1.401389,0.000000,0.000000,0.000000,1.899722,0.000000,1.531111,0.000000,5.331111
Sophie Weaver,2.095000,0.000000,0.000000,7.808889,0.000000,0.000000,0.000000,6.757222,0.000000,0.000000,0.000000,6.819722,2.293333,0.000000,0.000000,6.017222,0.000000,0.000000,0.000000,1.758056,8.143056,0.000000,0.000000,1.954167,0.000000,5.146389,0.000000,2.049167,0.000000,0.000000,2.114444,8.068056
Trevor,2.031111,1.995000,2.026111,5.175000,0.000000,0.000000,0.000000,4.718333,2.170278,0.000000,1.527222,5.843056,2.216944,0.000000,0.000000,5.613333,0.000000,2.102222,2.136944,1.000000,5.597778,1.881111,2.413056,2.001667,2.141944,11.212778,0.000000,0.000000,0.000000,0.000000,0.000000,7.181389
Victor Bellmore,2.129722,0.000000,0.000000,7.963056,3.542222,0.000000,0.000000,7.985556,2.126667,0.000000,0.000000,7.775833,2.268611,0.000000,0.000000,8.116944,0.000000,2.066111,0.000000,0.000000,7.970556,2.056944,1.000000,0.000000,0.000000,10.920556,0.000000,2.025833,0.000000,0.000000,0.000000,12.547500
dhanya Rajagopalan,2.245000,1.481944,0.970000,5.465833,5.759167,2.156944,1.910833,8.238333,2.065556,0.000000,2.096111,5.503056,2.291944,0.000000,2.133889,6.170278,0.000000,2.189444,2.036389,1.983889,0.000000,2.019444,0.000000,1.904167,2.028889,12.757500,0.000000,0.000000,0.000000,1.547778,1.595556,12.815000

In [7]:

timesheet.loc['AVAILABLE'] = [2,2,2,9,  2,2,2,9,  2,2,2,9,    2,2,2,9,0,  2,2,2,9,  2,0,2,2,9,    0,    2, 0, 2, 2, 9 ]
total_available_hours = timesheet.loc['AVAILABLE'].sum()
timesheet['student_total'] = timesheet.sum(axis=1)


#shop_available_hours = pd.DataFrame({ 
#    "date": [ "01/08", "01/10", "01/11", "01/13" ],
#    "hours": [ 2, 2, 2, 9]
#})

timesheet['student_percent'] = timesheet['student_total'] / total_available_hours
timesheet['student_percent_nice'] = timesheet['student_percent'].map('{:.2%}'.format)
timesheet.drop(columns='student_percent')

timesheet

shopdate,"01-08, Mon","01-10, Wed","01-11, Thu","01-13, Sat","01-15, Mon","01-17, Wed","01-18, Thu","01-20, Sat","01-22, Mon","01-24, Wed","01-25, Thu","01-27, Sat","01-29, Mon","01-31, Wed","02-01, Thu","02-03, Sat","02-04, Sun","02-05, Mon","02-07, Wed","02-08, Thu","02-10, Sat","02-12, Mon","02-13, Tue","02-14, Wed","02-15, Thu","02-17, Sat","02-18, Sun","02-19, Mon","02-20, Tue","02-21, Wed","02-22, Thu","02-24, Sat",student_total,student_percent,student_percent_nice
name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Aditya Harikumar,2.051667,0.000000,2.032500,3.205278,4.192778,2.253333,1.962222,2.039722,2.084722,1.815833,2.001944,0.000000,2.371944,1.951111,0.000000,4.715556,0.000000,1.397222,2.146111,1.512222,2.606667,2.056389,2.372222,1.483056,1.750000,0.000000,0.000000,2.191389,0.000000,0.000000,0.000000,0.000000,50.193889,0.478037,47.80%
Albert Mathisz,1.883056,1.835000,1.959444,0.000000,2.044167,2.065278,0.000000,0.000000,2.458889,1.930833,0.000000,0.000000,2.142500,1.876389,0.000000,3.819167,0.000000,1.000000,0.000000,0.000000,0.000000,1.915278,0.000000,1.988611,0.000000,3.138056,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30.056667,0.286254,28.63%
Ana Reyes Rayos,2.098889,0.000000,0.000000,3.187500,3.848889,2.153611,2.040000,4.373333,0.000000,2.108056,0.000000,0.000000,0.000000,1.945000,1.790000,6.756944,0.000000,2.177500,2.180278,1.985000,6.126944,2.166111,1.959167,2.016667,2.190278,12.717500,4.633611,2.196389,1.947222,0.000000,0.000000,13.230556,85.829444,0.817423,81.74%
Andrew Heitkamp,2.027778,1.820000,1.968056,9.009722,5.112500,1.000000,0.000000,9.000000,2.787500,2.080556,1.667222,6.890556,1.000000,1.908056,1.000000,8.511667,0.000000,0.000000,2.230000,1.697222,9.199444,2.308889,0.000000,1.753889,2.229167,1.000000,0.000000,1.000000,0.000000,5.390556,1.859167,11.922222,96.374167,0.917849,91.78%
Antony Manavalan,1.537778,2.200833,2.078333,7.215556,5.630000,2.353611,2.089444,8.386667,1.611111,2.214444,1.958889,6.171389,0.000000,0.000000,2.289167,0.000000,0.000000,2.459167,2.201667,0.648889,4.990278,2.134722,0.000000,0.000000,2.318056,0.000000,0.000000,2.104722,0.000000,0.000000,2.614167,9.557222,74.766111,0.712058,71.21%
Ayush Ghosh,1.946111,2.179722,0.000000,7.330833,2.962500,2.118056,0.000000,4.605278,2.033889,0.000000,2.207222,7.208611,0.000000,0.000000,2.125833,8.168056,0.000000,0.000000,2.243333,1.962500,4.868889,2.197222,0.000000,1.900556,0.000000,10.273333,0.000000,2.251944,0.000000,2.053889,0.000000,3.771667,74.409444,0.708661,70.87%
Benjamin Cowden,2.273889,1.510556,2.074722,8.851111,3.245556,2.657222,2.039167,7.852778,2.117500,0.000000,1.994444,9.201667,2.295000,1.043056,2.555833,7.939167,0.572222,2.108611,0.000000,2.225556,7.324722,1.000000,1.672500,0.000000,2.427778,10.166111,0.000000,2.189722,1.818611,2.006667,2.225556,9.325833,102.715556,0.978243,97.82%
Benjamin Jones,2.160833,0.000000,1.997778,8.952222,5.929444,0.000000,2.104444,8.943333,2.208056,0.000000,2.122500,9.167500,2.271111,0.000000,2.084444,8.950278,0.000000,0.000000,0.000000,2.084444,9.101111,2.088611,2.220000,0.000000,0.000000,0.000000,0.000000,2.114444,0.000000,0.000000,2.296111,7.970278,84.766944,0.807304,80.73%
Eric Shi,2.017500,1.000000,0.000000,8.721389,3.476667,1.000000,0.000000,8.738611,1.000000,1.855833,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,8.828889,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,43.638889,0.415608,41.56%
Hayley Morton,2.369167,2.486667,2.733611,8.750556,6.031667,5.308611,2.578611,1.699167,2.912222,3.276389,2.974444,0.000000,3.268889,4.313056,3.334722,1.933889,0.000000,9.364722,3.206111,3.155833,6.230556,3.250556,3.331944,3.139444,3.328889,6.840833,5.321944,2.368056,3.611944,3.003056,3.527222,13.959167,127.611944,1.215352,121.54%
Isaac Boroughs,2.123056,0.000000,1.000000,4.128056,4.012500,0.000000,2.083333,3.585556,2.236667,0.000000,0.000000,5.537500,1.703611,0.000000,1.962500,4.582500,0.000000,0.000000,0.000000,1.876667,4.373889,0.000000,0.000000,0.000000,1.985556,1.000000,0.000000,0.000000,0.000000,2.055278,0.000000,4.269444,48.516111,0.462058,46.21%
John Molfenter,1.955000,0.995833,0.000000,0.000000,5.730000,2.180000,2.000000,6.490000,1.654444,2.107500,1.949167,7.671111,1.997222,2.240278,2.379722,7.086111,0.000000,2.106389,2.034167,2.142222,6.130278,0.000000,0.000000,2.246667,2.382222,11.623889,0.000000,2.318056,0.000000,2.145278,2.608889,11.304167,93.478611,0.890272,89.03%
Joshua Spurck,2.032500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.032500,0.019357,1.94%
Marwan Makhtoub,1.944722,0.000000,2.380833,0.000000,4.332778,0.000000,0.000000,2.662778,2.613333,0.000000,0.000000,6.054167,2.236667,0.000000,1.471389,4.708056,0.000000,0.000000,1.000000,2.113333,5.409722,0.000000,0.000000,2.129444,2.109167,9.313056,0.000000,2.474444,0.000000,0.000000,2.180278,12.648611,67.782778,0.645550,64.56%
Maximilian Geissler,2.103333,1.984722,0.788889,8.216111,6.555278,0.000000,0.735833,1.796667,1.000000,1.929167,0.000000,0.000000,2.081111,1.970278,0.952222,6.392222,0.000000,1.872500,2.048611,0.617500,1.410556,1.996111,1.024722,1.725556,0.000000,1.678889,1.000000,1.000000,0.000000,1.523056,0.494167,0.000000,52.897500,0.503786,50.38%
Nathan Wicker,2.056944,1.000000,0.000000,2.628333,0.000000,0.000000,0.000000,0.000000,1.000000,1.077222,0.000000,0.000000,1.000000,0.000000,0.000000,2.745278,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,3.990278,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.498056,0.157124,15.71%
Pranav Kata,1.000000,1.000000,0.000000,6.543333,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.543333,0.090889,9.09%
Sadra Saharkhiz,1.047778,1.814444,1.646389,5.605556,5.919167,2.152778,1.460000,4.443611,2.025833,1.970556,1.899167,9.003056,1.779167,0.000000,3.003333,8.465833,0.000000,1.962500,2.101111,1.933611,6.463056,1.961389,0.000000,1.000000,1.971667,4.450000,1.309167,0.000000,1.672500,2.036667,0.000000,0.000000,79.098333,0.753317,75.33%
Sanjith kalluri,1.898333,0.000000,0.000000,0.000000,3.732500,0.000000,1.397778,0.000000,1.863056,1.550278,0.000000,0.000000,2.055556,1.000000,1.808611,0.000000,0.000000,1.960000,0.000000,1.762500,10.611667,2.063056,0.000000,1.401389,0.000000,0.000000,0.000000,1.899722,0.000000,1.531111,0.000000,5.331111,41.866667,0.398730,39.87%
Sophie Weaver,2.095000,0.000000,0.000000,7.808889,0.000000,0.000000,0.000000,6.757222,0.000000,0.000000,0.000000,6.819722,2.293333,0.000000,0.000000,6.017222,0.000000,0.000000,0.000000,1.758056,8.143056,0.000000,0.000000,1.954167,0.000000,5.146389,0.000000,2.049167,0.000000,0.000000,2.114444,8.068056,61.024722,0.581188,58.12%
Trevor,2.031111,1.995000,2.026111,5.175000,0.000000,0.000000,0.000000,4.718333,2.170278,0.000000,1.527222,5.843056,2.216944,0.000000,0.000000,5.613333,0.000000,2.102222,2.136944,1.000000,5.597778,1.881111,2.413056,2.001667,2.141944,11.212778,0.000000,0.000000,0.000000,0.000000,0.000000,7.181389,70.985278,0.676050,67.61%
Victor Bellmore,2.129722,0.000000,0.000000,7.963056,3.542222,0.000000,0.000000,7.985556,2.126667,0.000000,0.000000,7.775833,2.268611,0.000000,0.000000,8.116944,0.000000,2.066111,0.000000,0.000000,7.970556,2.056944,1.000000,0.000000,0.000000,10.920556,0.000000,2.025833,0.000000,0.000000,0.000000,12.547500,80.496111,0.766630,76.66%
dhanya Rajagopalan,2.245000,1.481944,0.970000,5.465833,5.759167,2.156944,1.910833,8.238333,2.065556,0.000000,2.096111,5.503056,2.291944,0.000000,2.133889,6.170278,0.000000,2.189444,2.036389,1.983889,0.000000,2.019444,0.000000,1.904167,2.028889,12.757500,0.000000,0.000000,0.000000,1.547778,1.595556,12.815000,89.366944,0.851114,85.11%
AVAILABLE,2.000000,2.000000,2.000000,9.000000,2.000000,2.000000,2.000000,9.000000,2.000000,2.000000,2.000000,9.000000,2.000000,2.000000,2.000000,9.000000,0.000000,2.000000,2.000000,2.000000,9.000000,2.000000,0.000000,2.000000,2.000000,9.000000,0.000000,2.000000,0.000000,2.000000,2.000000,9.000000,105.000000,1.000000,100.00%

In [8]:
timesheet=timesheet.sort_values(by=['student_total'],ascending=False)
timesheet[['student_percent_nice']]

shopdate            student_percent_nice
name
Hayley Morton                    121.54%
AVAILABLE                        100.00%
Benjamin Cowden                   97.82%
Andrew Heitkamp                   91.78%
John Molfenter                    89.03%
dhanya Rajagopalan                85.11%
Ana Reyes Rayos                   81.74%
Benjamin Jones                    80.73%
Victor Bellmore                   76.66%
Sadra Saharkhiz                   75.33%
Antony Manavalan                  71.21%
Ayush Ghosh                       70.87%
Trevor                            67.61%
Marwan Makhtoub                   64.56%
Sophie Weaver                     58.12%
Maximilian Geissler               50.38%
Aditya Harikumar                  47.80%
Isaac Boroughs                    46.21%
Eric Shi                          41.56%
Sanjith kalluri                   39.87%
Albert Mathisz                    28.63%
Nathan Wicker                     15.71%
Pranav Kata                        9.09%
Joshua Spurck                      1.94%

In [9]:
def color_code(val):
    
    if val == 1.0:
        return "background-color: yellow;color:black;opacity:40%"
    elif val == 0:
        return "background-color: red;color:white;opacity:40%"
    else:
        return 'color: green;font-weight:bold'

timesheet=timesheet.transpose()
timesheet.style.format(precision=3).map(color_code)
#timesheet.style.background_gradient(cmap="Blues")
#timesheet.style.highlight_max()